<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Express Gallery
body
  img(src = gallery.url)
  p Uploaded by: #{gallery.author}
  p Description: #{gallery.description}
  p
  button(type="submit" onclick='editRedirect()') Edit

  form(method="POST" action="/gallery/" + gallery.id enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="DELETE")
    p
    button(type="submit") Delete
script.
  function editRedirect(){
    window.location="#{gallery.id}/edit"}
  //- function deleteRedirect(){
  //-   window.location="#{gallery.id}/delete"}
